
<ion-view title="Forecasts">
  <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  <ion-nav-buttons side="right" ng-controller="AlertCtrl">
    <ion-nav-back-button class="button-clear" style="display: none;">
      <i class="icon ion-ios7-arrow-back"> Back</i>
    </ion-nav-back-button>
    <button class="button button-icon icon ion-alert-circled" menu-close ng-click="alert()"><span class="badge badge-assertive">{{getWarnNumber()}}</span></button>
    <button menu-toggle="right" class="button button-icon icon ion-map" menu-close ng-click="search()"></button>
  </ion-nav-buttons>

  <ion-content  class="has-header">
    <ion-list class="forecast-list">
      <ion-item ng-repeat="forecast in forecastList" menu-close href="#/forecast?forecastId={{forecast.id}}&latitude={{forecast.latitude}}&longtitude={{forecast.longtitude}}"
                class="forecast-item" data-forecast-id="{{forecast.id}}">
        <div class="forecast-brief-container">
          <div class="forecast-item-icon-container">
            <div class="weather-icon weather-icon-{{forecast.sky}}"></div>
            <div class="forecast-item-min-max-temp">{{forecast.minTemp + '\u00b0C'}}~{{forecast.maxTemp + '\u00b0C'}}</div>
          </div>
          <div class="forecast-item-statics-container">
            <div style="display:inline-block;">
              <h1>{{forecast.weekday}} {{forecast.day}}/{{forecast.month}}</h1>

              <p>Rain: {{forecast.chanceOfRain}}% of {{forecast.likelyRainfall}}mm</p>

              <p>Humidity: {{forecast.humidity}}%</p>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
