<ion-side-menus>

  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons>
      <!--<ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>-->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <button class="button button-icon icon ion-ios7-minus-outline" ng-click="showDelete = !showDelete;"></button>
      <h1 class="title">Locations</h1>
    </header>
    <ion-content class="has-header">
      <ion-list show-delete="showDelete">
        <ion-item ng-repeat="location in locationList" nav-clear menu-close
                  href="#/app/forecasts?longitude={{location.position.la}}&&latitude={{location.position.lo}}">
          {{location.name}}
          <ion-delete-button class="ion-minus-circled" ng-click="deleteLocation($index)"></ion-delete-button>
        </ion-item>
      </ion-list>

      <button menu-toggle="right" class="button button-icon icon-left ion-map" menu-close ng-click="search()">Search/Add
        Location
      </button>
    </ion-content>

    <ion-footer-bar>
      <button class="button button-block button-positive" ng-click="loginLogout()" style="margin: 0">
        {{loginLogoutStr}}
      </button>
    </ion-footer-bar>
  </ion-side-menu>
</ion-side-menus>
