<!DOCTYPE html>
<!--
TODO: incorporate js to mapcontroller.js
-->

    <ion-view title="Search location">
        <ion-content class="has-header map-container" scroll="false">
            <div id="search-bar">
                <input id="location" type="textbox" placeholder="Input location here">
                <button ng-click="searchLocation()" class="button button-location" ng-show="true">Go</button>
            </div>
            <div id="map-canvas"></div>
        </ion-content>
    </ion-view>