/* Empty. Add your own CSS if you like */
.temperature-hour-icon{
       width: 40px;
       height: 40px;
       position: absolute;
}
.head-login{
    margin-top: 80px;
    text-align:center;
    text-shadow: 1px 1px 20px #000000;
}

.head-sign{
    margin-top: 80px;
    text-align:center;
}

.bottom-line{
   text-align:center;
   margin-top:90px;
}


.login-background{
    background: url('../img/loginBG.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.sign-background{
    background: url('../img/signBG.png') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}s

.forecast-list ion-item {
  border-bottom: 2px solid white;
}

.forecast-list ion-item .item-content {
	padding: 0;
}

.forecast-list .forecast-brief-container {padding: 20px 23px;}

.forecast-item .item-content, .detail-forecast-item .item-content {
  background: #2B59A2
}

.forecast-item.opened .forecast-detail-container {
/*	display: block;*/
	height: auto;
}

.forecast-item .forecast-detail-container {
	/*display: none;*/
	background: white;
	color: black;
	transition: height 1s;
	height: 0;
}


.forecast-item>a, .detail-forecast-item>a {
  background: blue;
}

.forecast-list .forecast-item-statics-container, .detail-forecast-item-statics-container {
  display: inline-block;
}

.forecast-list .forecast-item-statics-container *, .detail-forecast-item .detail-forecast-item-statics-container *{
  color: white;
  margin-bottom: 0;
}

.forecast-list .forecast-item-icon-container, .detail-forecast-item-icon-container {
  display: inline-block;
  margin-right: 30px;
}
.forecast-list .forecast-item-icon-container .weather-icon, .detail-weather-icon{
  display: block;
  width: 80px;
  height: 80px;
  background-size: contain;
}

.weather-icon-cloudy {
  background-image: url(../img/weather/1.svg);
}

.weather-icon-sunny {
  background-image: url(../img/weather/2.svg);
}

.weather-icon-thunder {
  background-image: url(../img/weather/3.svg);
}

.weather-icon-rainy {
  background-image: url(../img/weather/6.svg);
}

.weather-icon-fog {
  background-image: url(../img/weather/4.svg);
}

.weather-icon-degree {
  background-image: url(../img/weather/10.svg);
}

.weather-icon-hurricane {
  background-image: url(../img/weather/11.svg);
}

.weather-icon-smallrain {
  background-image: url(../img/weather/14.svg);
}

.detail-forecast-item-statics-container>span, .forecast-item-statics-container>span{
    font-size: 80px;
    text-align:center;
    margin-left: 15px;
}

.forecast-item-min-max-temp {
    text-align: center;
    color: white;
}


.map-container, .scroll, #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#search-bar {
    position: absolute;
    top: 82%;
    left: 15%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    display: block;
}

.button-location {
    display: inline-block;
    min-width: 0;
    min-height: 0;
    line-height: normal;
    padding: 3px 6px;
}

#location {
    width: auto;
}

.rainfall-slide-box {
    min-height: 150px;
    width: auto;
    background: #2B59A2;
}

.rainfall-slide, .rainfall-item {
    height: 100%;
    text-align: center;
}

.rainfall-item {
    width: 25%;
    display: inline-block;
}