<!DOCTYPE html>
<ion-view title="LogIn">
<ion-content title="Login" hide-back-button="true" class="login-background">
    <div class="head-login">
         <h1 style="color:#FFFFFF;">Met</h1>
        </div>
        <div class="row responsive-md">
            <div class="col">
                <div class="col col-center">
                    <label class="item item-input">
                        <input type='text' placeholder="Email" ng-model="user.email">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Password" ng-model="user.password">
                    </label>
                </div>
                <div class="col col-center">
                    <label>
                        <button class="button button-block button-positive" ng-click="loginUser(user)">LOG IN</button>
                    </label>
                </div>
            </div>
        </div>
    <div class="bottom-line">
    <button style="color:white;" class="button button-clear button-small" ng-click="toSignUp()">Sign up for Met</button>
    <button style="color:white;" class="button button-clear button-small" ng-click="skipLogin()">Skip Log-in</button>
        </div>
</ion-content>
</ion-view>
</html>

