<!DOCTYPE html>
<ion-view title="LogIn" hide-back-button="true" class="login-background">
<ion-content title="Login" >
    <div class="head-login">
         <h1 style="color:#FFFFFF;">Met</h1>
        </div>
        <div class="row responsive-md">
            <div class="col">
                <div class="col col-center">
                    <label class="item item-input">
                        <input type='text' placeholder="Email" ng-model="loginData.email">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Password" ng-model="loginData.password">
                    </label>
                </div>
                <div class="col col-center">
                    <label>
                        <button class="button button-block button-positive" ng-click="doLogin(user)">LOG IN</button>
                    </label>
                </div>
            </div>
        </div>
    <div class="bottom-line">
    <a style="color:white;" class="button button-clear button-small" href="#/signup">Sign up for Met</a>
    <a style="color:white;" class="button button-clear button-small" href="#/">Skip Log-in</a>
        </div>
</ion-content>
</ion-view>
</html>

